.menu-spacer{
  margin: 20px;
}

a{
  text-decoration: none;
  color: white;
}
.logo-spacer{
  flex: 1 1 auto;
}

.activebutton
{
   background-color: rgb(51, 51, 51);
   color: red;
 }

.user-icon{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 50px;
}
.caption {
  display: block;
  font-size: small;
  margin-left: 5px;
}
