table {

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-chip{
  color:white
}

.btn-form{
  margin-top: 1rem;
  width: 100%;
}

.table-content{
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.mat-column-razonSocialProveedor{
  width: 300px;
}


