mat-form-field{
  width: 100%;
}
button{
  margin-top: 1rem;
  width: 100%;
}

.container{
 margin-top: 1rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
table {
  width: 50%;
}
