table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-chip{
  color:white
}

.btn-form{
  margin-top: 1rem;
  width: 100%;
}

.mat-column-acciones {
  width: 32px;
  text-align: center;
}
